.teacher-list

  :global
    .is-visible
      height 80px !important

.summary-wrap
  position relative

  & > i
    position absolute
    right 0
    top 0
    z-index 2

.detail-wrap
  position relative
  padding 15px
  border 1px solid #ccc
  margin 0 0 15px 0

  & > i
    position absolute
    right 0
    top 0
    z-index 2