{
	"presets": [
		[
			"@babel/preset-env", {
				"useBuiltIns": "usage",
				"corejs": 3
			}
		],
		"@babel/preset-react"
	],
	"plugins": [
		["@babel/plugin-transform-runtime", {
			"corejs": 3,
			"helpers": true,
			"regenerator": true,
			"useESModules": false
		}],
		"@babel/plugin-syntax-dynamic-import",
		["@babel/plugin-proposal-decorators", {"legacy": true}],
		["@babel/plugin-proposal-class-properties"],
		["react-css-modules", {
			"generateScopedName": "[name]__[local]___[hash:base64:5]",
			"filetypes": {
				".styl": {
					"syntax": "postcss-styl"
				}
			}
		}],
		[
			"import",
			{ 
				"libraryName": "antd-mobile", 
				"libraryDirectory": "lib",
				"style": "css"
			},
			"antd-mobile"
		],
		[
			"import",
			{
					"libraryName": "antd", 
					"libraryDirectory": "lib",
					"style": "css"
			},
			"ant"
		]
	]
}