@import '../../../styles/theme.styl'

.content-list
  width 100%
  height auto
  min-height px2rem(120)
  border-top px2rem(2) solid #f4f4f4

  .top
    padding px2rem(20) px2rem(40)
    display flex
    flex-direction row
    justify-content space-between
    align-items flex-start

    .type
      width px2rem(40)
      height px2rem(40)
      border-radius px2rem(40)
      font-size px2rem(24)
      line-height px2rem(40)
      color #ffffff
      flex-shrink 0
      text-align center
      background #cccccc

    .content 
      flex-grow 1
      padding 0 px2rem(20)
      
      .title
        font-size px2rem(28)
        line-height px2rem(32)
        color #111111

      .dec
        font-size px2rem(24)
        line-height px2rem(28)
        color #888888
        margin px2rem(10) 0 0 0

    .right
      width px2rem(240)
      flex-shrink 0
      text-align right
      display flex
      flex-direction grow
      justify-content space-between

      >p
        color #cccccc
        flex-grow 1
        text-align right

      .show-info
        width px2rem(24)
        height px2rem(24)
        margin 0 0 0 px2rem(24)

        span 
          color #d0d0d0
          transition all .3s ease
          font-size px2rem(24)


  .bottom
    padding px2rem(22) px2rem(108)
    background #f5f5f9
    overflow hidden
    transition opacity .3s ease

    .info-list
      margin px2rem(10) 0
      display flex
      flex-direction grow

      .left
        width px2rem(160)
        flex-shrink 0
        color #888888
        font-size px2rem(24)
        line-height px2rem(30)

      .right 
        flex-grow 1
        color #000000
        font-size px2rem(24)
        line-height px2rem(30)
    
  .hidden
    padding 0
    height 0
    opacity 0

  .show
    height auto
    opacity 1

.jie

  .top

    .type
      background linear-gradient(0, #1EE8D4, #00A895)

    .right
      p
        color #13BFA9

.dai

  .top

    .type
      background linear-gradient(0, #FFAA86, #E14C46)

    .right
      p
        color #F74209
      