@import '../../../styles/theme.styl'

$shadowColor = #AEAEAE

.wrap
  width 100%
  background #ffffff
  height auto
  margin px2rem(24) 0
  min-height px2rem(560)
  box-shadow 0 px2rem(4) px2rem(10) px2rem(-4) $shadowColor