.list-wrap
  display flex
  width 100%
  justify-content flex-start
  flex-wrap wrap

  & > div
    width 320px
    height 180px
    margin 0 16px 16px 0

  :global
    .ant-card-meta-description
      height 60px
      line-height 20px