@import '../../../styles/theme.styl'

.wrap
  width 100%
  background #ffffff
  height auto
  min-height px2rem(150)
  padding px2rem(10) 0
  margin px2rem(40) 0

  .list
    padding px2rem(10) 0
    line-height px2rem(34)
    display flex 
    align-items flex-end 
  
    .type
      font-size px2rem(24)
      color #111111
      font-weight bold
      padding 0 0 0 px2rem(48)

      .iconfont
        color #E14C46
        font-size px2rem(24)
        margin 0 px2rem(10) 0 0

    .name
      font-size px2rem(28)
      color #111111
      font-weight bold
      padding 0 px2rem(20)

    .time
      font-size px2rem(24)
      color #555555