/*
 * @file 自己定义的基础样式
 * @author haoran
 */
:global
  html, body
    font-family 'Roboto-light'
    letter-spacing 0.6px

  .abs
    position absolute
  
  .show
    opacity 1 !important
  
  .hide
    opacity 0 !important

  .none
    display none

  .transition1
    transition all .3s ease
  
  .transition2
    transition opacity .3s ease